    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <!-- Navigation Panel -->
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <!-- Header -->
        <header>
            <img src="{{ url_for('static', filename='logo1.png') }}" alt="Logo" class="header-logo">
        </header>

        <!-- Main Container -->
        <div class="container">
            <div class="form-container">
                <h2>Add a New Password</h2>
                <form id="add-password-form">
                    <div class="form-group">
                        <label for="website">Website:</label>
                        <input type="text" id="website" name="website" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">Save Password</button>
                </form>
            </div>

            <div class="form-container">
                <h2>Retrieve Password</h2>
                <form id="get-password-form">
                    <div class="form-group">
                        <label for="retrieve-website">Enter Website:</label>
                        <input type="text" id="retrieve-website" name="retrieve-website" required>
                    </div>
                    <button type="submit">Get Password</button>
                </form>
                <div id="password-result"></div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <p>&copy; All rights reserved, Yuvraj Sharma 2024.</p>
        </footer>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
    </html>
